# Archivos temporales
*.tmp
*.log
*.log.*
*.cache
*.cache.*
*.pyc
*.pyo
*.pyd
*.class

# Archivos de respaldo
*~
*.backup

# Directorios
__pycache__/
node_modules/

# Entornos virtuales de Python
.venv
.env
.envpractica

# BD
db-bryan-becerra.sql

#Reportes
reporte_respuestas.xlsx

