{% extends 'base.html' %}

{% block title %}Formulario{% endblock %}

{% block content %}

<section id="formulario">
    <h2 class="major">Formulario</h2>
    <form action="" method="POST">
        <h3>Datos personales</h3>

    
        <!-- Botón de enviar -->
        <button type="submit" class="button">Enviar</button>
    </form>
    <a class="button" href="{% url 'home' %}">Volver</a>
</section>

<style>
    .dark-input {
        background-color: #333;
		color: #fff;
    }

    #formulario {
        margin: 0 auto;
        width: 50%;
    }

    #formulario form {
        display: flex;
        flex-direction: column;
    }

    #formulario form .form-group {
        margin-bottom: 1rem;
    }

    #formulario form .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }

    #formulario form .form-group select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #formulario form .form-group input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #formulario form .form-group button {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ccc;
        color: #000;
        cursor: pointer;
    }

    #formulario form .form-group button:hover {
        background-color: #000;
        color: #fff;
    }

    #formulario form .form-group a {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ccc;
        color: #000;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    #formulario form .form-group a:hover {
        background-color: #000;
        color: #fff;
    }

    @media screen and (max-width: 768px) {
        #formulario {
            width: 100%;
        }
    }

</style>

{% endblock %}
